<div class="container" ng-controller="obtenerIdEstadoProductoControllers" ng-controller="insertarEstadoProductosControllers">

			
				<form  name="nuevoEstado" role="form-inline" novalidate>
			
					<div class="span3">

					 	<div class="form-group">
					 		<label for="">Cod. Estado del Producto: </label>
					 		<select  name="cod"  ng-model="estadoproducto.IdEstadoProducto" required>
						 	  <option disabled="disabled">Seleccione una opcion</option>
							  <option ng-repeat="id in IdEstadoProducto">{{id.cod}}</option>
							</select>
					 		<span style="color:red" ng-show="nuevoEstado.cod.$dirty && nuevoEstado.cod.$invalid">
				            <span ng-show="nuevoEstado.cod.$error.required">Codigo Requerido.</span>
				            <span ng-show="nuevoEstado.cod.$error.number">Codigo Invalido.</span>
					 	</div>

					</div>

				 <div class="span3">
					 	<div class="form-group">
							<label for="">Nombre :</label>
						 	<input type="text" name="nombre" class="form-group"  ng-minlength="3" ng-pattern="/^[a-zA-ZÑñ\s]*$/" placeholder="nombre" ng-model="estadoproducto.Nombre" required>
						 	 <span style="color:red" ng-show="nuevoEstado.nombre.$dirty && nuevoEstado.nombre.$invalid">
                             <span ng-show="nuevoEstado.nombre.$error.required">Nombre Requerido.</span>
                             <span ng-show="nuevoEstado.nombre.$error.minlength">Nombre demasiado corto</span>
                             <span ng-show="nuevoEstado.nombre.$error.pattern">Ingrese solo letras</span>
					 	</div>
				 </div>	

				</form>	

				<br>
				<br>
				<br>
				<br>
				 <div>

				 <button id="btnEstado" ng-disabled="!nuevoEstado.$valid" class="btn btn-success" ng-click="obtenerDatosEstadoProductos(estadoproducto)"><span class="icon-edit icon-white"></span> Agregar</button> 
			
				 <!-- <button class="btn" ng-click="limpiarDatosEstadoProductos()">Limpiar Campos</button> -->

				 </div>

			
                <br>
                <div  id="datosEstado" class="alert alert-success">
                 <button type="button" class="close" data-dismiss="alert"></button>
                 <h4>Los datos fueron guardados exitosamente</h4>
               </div>
</div>

<script type="text/javascript">
$("#datosEstado").hide();
$("#btnEstado").click(function(){
$("#btnEstado").attr("disabled", "disabled");
});
</script>